nbdoc>=0.0.54
pandas>=1.4.0
jupyter>=1.0.0
jupyterlab>=3.2.1
matplotlib>=3.5.1
altair>=4.2.0
altair-saver>=0.5.0
vega_datasets>=0.9.0
watchdog[watchmedo]
numpy>=1.14
pyarrow
psutil>=5.9.0
fsspec
polars
tensorflow
boto3
python-jose[rsa]
diagrams